@import '../../assets/styles/_variables.scss';
.c-carrousel-detail {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 800px;
    overflow: hidden;

    picture,source, img {
        position: relative;
        order: 1;
        z-index: 1;
        width: 100%; 
        height: 100%;
        border-radius: 25px;
    }

    .c-carrousel-detail__details-card {
        position: absolute;
        order: 2;
        height: 70%;
        width: 25%;
        max-width: 200px;
        left: 100%;
        transform: translate(0);
        z-index: 2;
        transition: transform 0.5s;
        transition-timing-function: ease-in-out;
        padding: 23px 23px;
    }
    .c-carrousel-detail__details-card--visible {
        transform: translate(-100%);
    }

    .c-carrousel-detail__details-card-button{
        position: relative;
        right: 36%;
        border-radius: 25px 0 0 25px;
        width: 40px;
        height: 41px;
        padding: 11px;
    }

    .c-carrousel-detail__text-container {
        border-left: 1px solid $dark-color;
        padding-left: 15px;
    }
    
    .c-carrousel-detail__details-card-button_icon{
        img {
            transition: transform 0.5s;
            transition-timing-function: ease-in-out;
        }
    }
    .c-carrousel-detail__details-card-button_icon--inverted {
        img {
            transform: rotate(180deg);
        }
    }

    @media (max-width: $breakpoint-tablet) {
        flex-direction: column;
        align-items: flex-start;

        .c-carrousel-detail__details-card{
            position: relative;
            order: 1;
            left: 0%;
            width: 100%;
            max-width: 100%;
            padding: 20px 0px;
        } 

        .c-carrousel-detail__details-card--visible {
            transform: translate(0%);
        }

        picture,source, img {
            order: 2;
        }

        .c-button{
            display: none;
        }
    }

    @media (min-width: $breakpoint-desktop) {
        overflow: visible;
            
        .c-carrousel-detail__details-card-button{
            display: none;
        }

        .c-carrousel-detail__details-card {
           transform: translate(0%); 
           width: 300px;
        }
    }
}