@import '../../assets/styles/_variables.scss';
.c-button {
    padding: $button-padding;
    border: none;
    border-radius: 15px;
    font-family: $primary-font;
    font-size: $button-font-size-big;

    &.c-button--round{
        border-radius: 100px;
    }
    
    &.c-button--small{
        padding: $button-padding-small;
    }
    
    &.c-button--primary{
        background-color: $primary-color;
        color: $white-color;
        &:hover{
            cursor: pointer;
            background-color: darken($color: $primary-color, $amount: 5) ;
        }
    }
    &.c-button--secondary{
        background-color: transparent; 
        color: $white-color;
        &:hover{
            cursor: pointer;
            background-color: $white-color;
            color: rgba($secondary-color, 0.9);
        }
    }
    &.c-button--terceary{
        background-color: $lightest-gray-color; 
        color: $gray-color;
        &:hover{
            cursor: pointer;
        }
    }
}