@import '../../assets/styles/_variables.scss';
.c-employee-card {
    max-width: 260px;
    color: $dark-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}