@import '../../assets/styles/_variables.scss';
.c-nav-bar {
    background-color: $white-color;
    padding: $navbar-padding;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .c-nav-bar__links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        grid-column: 4 / 12;
    }

    .c-nav-bar__link {
        text-decoration: none;
        color: $dark-color;
        font-family: $primary-font; 
        padding: 0px 15px;
        font-weight: 900;
    }

    .c-nav-bar__logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        grid-column: 1 / 2;
    }

    .c-nav-bar__search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        grid-column: 12;
        :hover {
            cursor: pointer;
        }
    }

    .c-nav-bar__menu-button{
        grid-column: 11;
        display: none;
    }

    @media (max-width: $breakpoint-tablet) {
        grid-template-rows: 60px 1fr;

        .c-nav-bar__logo {
            grid-row: 1;
            grid-column: 1 / 7;
            justify-content: start;
        }
        .c-nav-bar__links {
            grid-row: 2;
            grid-column: 2 / 12;
            justify-content: center;
            flex-direction: column;
            height: 0px;
            overflow: hidden;
            transition: height 0.5s ease-in-out;
        }
        .c-nav-bar__search {
            grid-row: 1;
            grid-column: 12;
        }

        .c-nav-bar__links--active{
            height: 100%;
        }
        .c-nav-bar__menu-button{display:block;}
    }
}