@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

//Colors
$primary-color: #01ADA3;
$secondary-color: #ECAE85;
$dark-color: #282828;
$gray-color: #555555;
$light-gray-color: #7b7b7b;
$lightest-gray-color: #E1E1E1;
$white-color: #FFFFFF;


//Fonts
$primary-font:'Public Sans';
$secondary-font: 'Poppins';
$terceary-font: 'Satoshi';


//Font Sizes
$button-font-size-big: 22px;
$button-font-size-small: 14px;

//Spacing
$button-padding: 26px 46px;
$button-padding-small: 6px 16px;
$card-padding: 32px 42px;
$input-padding: 16px 16px;
$navbar-padding: 12px 30px;