@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Public+Sans:wght@700&display=swap');

//Colors
$primary-color: #01ADA3;
$secondary-color: #ECAE85E5;
$dark-color: #282828;
$gray-color: #555555;
$light-gray-color: #7B7B7B;
$lightest-gray-color: #F6F6F6;
$white-color: #FFFFFF;


//Fonts
$primary-font:'Public Sans';
$secondary-font: 'Poppins';


//Font Sizes
$button-font-size-big: 22px;
$button-font-size-small: 14px;