@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

//Colors
$primary-color: #01ADA3;
$secondary-color: #ECAE85;
$dark-color: #282828;
$gray-color: #555555;
$light-gray-color: #7b7b7b;
$lightest-gray-color: #E1E1E1;
$white-color: #FFFFFF;


//Fonts
$primary-font:'Satoshi';
$secondary-font: 'Poppins';
$terceary-font: 'Public Sans';
$forth-font: 'Caveat';


//Font Sizes
$button-font-size-big: 18px;
$button-font-size-small: 14px;
$page-title-size-big: 14rem;
$page-title-size-medium: 100px;
$page-title-size-small: 80px;

//Spacing
$button-padding: 16px 36px;
$button-padding-small: 6px 16px;
$card-padding: 32px 42px;
$input-padding: 16px 16px;
$navbar-padding: 12px 30px;

//Breakpoints
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 640px;