@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./_variables.scss";

:root {
  font-family: $primary-font, $secondary-font, $terceary-font, sans-serif;
  color: $dark-color;
  background-color: $white-color;
}

body {
  margin: 0;
}
